:root {
  --accent: #b4befe; /* 1 of 5 basic colors */
  --background: #1e1e2e; /* background color */
  --accent-contrast-color: #11111b; /* mainly uses for text on the accent backgrounds but not limited */
  --color: #cdd6f4; /* text color, also some other text use the variable in color mixing */
  --border-color: #f9e2af; /* border color */

  /* code syntax */
  /* take a look at themes/re-terminal/assets/css/syntax.scss to understand in detail which color stands for */
  --syntax-func-color: color-mix(in srgb, var(--accent) 70%, #999 30%);
  --syntax-var-color: color-mix(in srgb, var(--accent) 90%, transparent);
  --syntax-value-color: color-mix(in srgb, var(--accent), white);

  /* breakpoints */
  /* unfortunately, native CSS variables don't support media queries, so use SCSS vars instead */
  $phone: 684px;
  $tablet: 900px;
}
